body {
	--color: #333;
	--form-border: #999;
	--dyna-blur: rgba(0,0,0,.15);
	--card-bg: #fff;
	background: #fff;
	color: var(--color);
	.navbar {
		.fixed {
			&::after {
				content: "";
				width: 100%;
				bottom: 0;
				left: 0;
				background: rgba(0,0,0,0.16);
				position: absolute;
				height: 1px;
			}	
		}
	}
	@media screen and (min-width: 1024px) {
		--dyna-blur: transparent;
	}
}

.dark-mode body {
	--color: #fff;
	--form-border: #333;
	--card-bg: #111;
	background: #000;
	color: var(--color);
	.bg-light {
		background: rgba($color: #fff, $alpha: .015)!important;
	}
	hr {
		background: #444;
	}
}
.peng li {
	margin-right: 5px;
	@media screen and (max-width: 1024px) {
		img {
			width: 30px;
			height: 30px;
		}
		&+li+li+li+li {
			display: none;
		}
	}
}

.weather {
	position: fixed;
	left: 1.5rem;
	bottom: 1.5rem;
	background: rgba($color: #000, $alpha: .55);
	backdrop-filter: blur(5px);
	box-shadow: 0 0 0 2px rgba($color: #fff, $alpha: .3);
	border-radius: 8px;
	transition: all .2s ease-in-out;
	img {
		position: absolute;
		transition: all .2s ease-in-out;
	}
	&.lg {
		width: 250px;
		height: 80px;
		padding: 20px 10px 20px 70px;
		border-radius: 8px;
		img {
			width: 50px;
			height: 50px;
			top: calc(50% - 25px);
			left: 10px	
		}
	}
	&.sm {
		height: 70px;
		width: 70px;
		img {
			width: 44px;
			height: 44px;
			top: calc(50% - 32px);
			left: calc(50% - 22px);
		}
		span {
			position: absolute;
			bottom: 6px;
			text-align:center;
			width: 100%;
		}
	}
}