body {
	--color: #333;
	--form-border: #999;
	--dyna-blur: #000;
	--card-bg: #fff;
	background: #fff;
	color: var(--color);
	.navbar {
		&::after {
			content: "";
			width: 100%;
			bottom: 0;
			left: 0;
			background: rgba(0,0,0,0.16);
			position: absolute;
			height: 1px;
		}
	}
}

.dark-mode body {
	--dyna-blur: rgba(0,0,0,.5);
	--color: #fff;
	--form-border: #333;
	--card-bg: #111;
	background: #050505;
	color: var(--color);
	.bg-light {
		background: rgba($color: #fff, $alpha: .015)!important;
	}
	hr {
		background: #444;
	}
}