.footer {
	ul {
		list-style: none;
		padding: 0;
		li:not(:last-child) {
			@media screen and (min-width: 992px) {
				margin-bottom: 10px;
			}
			@media screen and (max-width: 991px) {
				margin-bottom: 5px;
			}
		}
	}
}
:not(.dark-mode) .footer {
    color: #222;
}
:not(.dark-mode) .footer a {
    color: $dark;
}
.dark-mode .footer {
    color: #fff;
}
.dark-mode .footer a {
    color: $primary;
}