.navbar {
	background: var(--dyna-blur);
	backdrop-filter: saturate(180%) blur(20px);
	font-weight: 500;
	position: fixed!important;
	@include top;
	z-index: 1111;
	min-height: 70px;
	@media screen and (min-width: 1024px) {
		&-nav {
			width: 100%;
		}
	}
	@media screen and (max-width: 1024px) {
		&-nav {
			li {
				&:hover {
					.nav-link, .nav-link:hover {
						color: $primary;
					}
				}
			}
			li:not(:last-child) {
				border-bottom: 2px dashed rgba($color: #fff, $alpha: .15);
				padding-top: .75rem;
				padding-bottom: .75rem;
				&:hover {
					color: $primary;
					border-bottom-style: solid;
					border-color: $primary;
				}
			}
		}
	}
	.nuxt-link-exact-active {
		color: $primary!important;
	}
	&.fixed {
		background: rgba($color: #000, $alpha: .35);
		border-bottom: 1px solid rgba($color: #fff, $alpha: .15);
	}
	@media screen and (min-width: 1024px) {
		position: absolute!important;
		&.fixed {
			position: fixed!important;
		}	
	}
}
